<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title></title>
</head>
<body>

<div class="select-template"></div>

<script id="optionsSelect" type="text/template">
    <select>
        <% for( var i = 0; i < items.length; i++) { %>
            <% if(items[i] === selected){ %>
                <option selected><%=items[i]%></option>
            <% }else{ %>
                <option><%=items[i]%></option>
            <% } %>
        <!--<option <%= items[i] === selected ? 'selected' : '' %> ><%=items[i]%></option>-->
        <% } %>
    </select>
</script>


<div class="pagination"></div>

<script id="paginationTemplate" type="text/template">
    <ul>
        <li>
            <% if (currentPage === 1) { %>
            <a class="current"><%=items[0]%></a>
            <% } else { %>
            <a><%=items[0]%></a>
            <% } %>
        </li>
        <% if ((currentPage - 2) > 1) { %>
            <li><span class="ellipse">...</span></li>
        <%} %>
        <% for (var i = start; i < end; i++) { %>
            <% if (items[i] === currentPage) { %>
                <li><a class="current"><%=items[i]%></a></li>
            <%} else { %>
                <li><a><%=items[i]%></a></li>
            <% } %>
        <% } %>
        <% if (currentPage + 1 < items.length-1 ) { %>
        <li><span class="ellipse">...</span></li>
        <%} %>
        <li>
            <% if (currentPage === items.length) { %>
            <a class="current"><%=items[items.length - 1]%></a>
            <% } else { %>
            <a><%=items[items.length - 1]%></a>
            <% } %>
        </li>
    </ul>
</script>
<script src="main.js"></script>
</body>
</html>